.table-row {
  border-bottom: 1px solid lighten($dark, 70%);
  min-height: 30px;
  padding: 8px 12px;
}

.trending {
  svg {
    fill: $success;

    &.down {
      transform: rotate(180deg);
      fill: $danger;
    }
  }
}
